<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>form</title>
  </head>
  <body>
    <form method="post" action="/new">
      <h1>New Message</h1>
      <input name="author" type="text" placeholder="Enter Author" />
      <input name="message" type="text" placeholder="Enter Message" />
      <button type="submit">Send message</button>
    </form>
  </body>
</html>


